apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: myapp-deployment-ingress
spec:
  rules:
    - host: myapp.local
      http:
        paths:
          - path: / 
            pathType: Prefix
            backend:
              service:
                name: myapp-deployment
                port:
                  number: 8080